* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header {
    height : 10%;
    width: 100%;
    background-color:mediumorchid;
}

nav {
    padding-top: 20px;
    height: 85%;
    width: 20%;
    float:left;
 

  
}

main {
    height: 85%;
    width: 80%;
    overflow: hidden;
    display: inline-block;
 
}

footer {
    height: 5%;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color:mediumorchid;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    padding: 10px;
}
a:link, a:visited {
    background-color: rgb(207, 170, 233);
    color: black;
    padding: 20px 20px;
    border: 5px black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  .submenu{
    display: inline;
  }

  .operacje{
    display: inline;

  }

  .inputTxt{
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      font-style: normal;
      display: block;
      width: 80%;
      padding: 10px;
      padding-left: 10px;
  }
  label {
      display:block;
      padding:10px;
  }

  .button{
      padding: 10px;
 
  }

  .form{
      padding-top: 20px;
      font-size: 24px;
      font-family: 'Courier New', Courier, monospace;
      width:80%;
      border: 1px solid black;
      padding-bottom: 20px;
  }

  table{
      width:80%;
      border: 1px solid black;
  }

  td{
    border: 1px solid black;
    padding-left: 20px;
  }

  tr>td:nth-child(1) {
    width:100px;
  
  }

  tr>td:nth-child(2) {
    width: 50px;
  
  }

  tr>td:nth-child(3) {
    width: 50px;
  
  }

  tr>td:nth-child(4) {
    width: 50px;
  
  }

  tr>td:nth-child(5) {
    width: 50px;
  
  }